body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

h1 {
    margin-top: 10px;
}

#game-container {
    position: relative;
    display: inline-block;
}

canvas {
    background: #87ceeb;
    border: 3px solid #000;
}

/* MOBILE JUMP BUTTON */
#jumpBtn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 18px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    background: orange;
    color: black;
    display: none;
}

/* Show button only on touch devices */
@media (pointer: coarse) {
    #jumpBtn {
        display: block;
    }
}
