body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #eaeaea;
    margin: 0;
    padding: 0;
}

canvas {
    background: #87ceeb;
    border: 4px solid black;
    display: block;
    margin: auto;
}

/* MOBILE JUMP BUTTON */
#jumpBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: transparent;
    border: none;
    padding: 0;
    display: none;
    z-index: 9999;
}

#jumpBtn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* SHOW ONLY ON MOBILE */
@media (max-width: 768px) {
    #jumpBtn {
        display: block;
    }
}

