html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
}

canvas {
    display: block;
    background: #1b1b1b;
}

/* MOBILE JUMP BUTTON */
#jumpBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border: none;
    background: transparent;
    display: none;
}

#jumpBtn img {
    width: 100%;
    height: 100%;
}

/* SHOW BUTTON ONLY ON MOBILE */
@media (pointer: coarse) {
    #jumpBtn {
        display: block;
    }
}
